---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		<nav>
			<ul>
				<li><a href="/testingsKPR/rollegem">Rollegem</a></li>
				<li><a href="/testingsKPR/shaketest">Shake Test</a></li>
				<li><a href="/testingsKPR/map">Map</a></li>
				<li><a href="/testingsKPR/swipetest">Swipe</a></li>
				<li><a href="/testingsKPR/filtertest">Filter</a></li>
			</ul>
		</nav>
	</div>
</Layout>

<style>
	body {
		font-family: Arial, Helvetica, sans-serif;
	}
	h1 {
		font-family: baskerville, serif;
		text-transform: uppercase;
	}
</style>
