---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout>
    <div>
        <h1>Map</h1>
        <Map />;
    </div>
</Layout>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-family: baskerville, serif;
        text-transform: uppercase;
    }
</style>
