---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1>Rollegem</h1>
        <p>
            Hey, er moet mij iets van het hart. Zoals je ziet zit ik vast in een
            kooi. Het is net alsof ik mezelf niet kan zijn. Herken je dat?
        </p>
    </div>
</Layout>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-family: baskerville, serif;
        text-transform: uppercase;
    }
</style>
