---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div id="cardContainer">
        <div class="card" data-i="8">8</div>
        <div class="card" data-i="7">7</div>
        <div class="card" data-i="6">6</div>
        <div class="card" data-i="5">5</div>
        <div class="card" data-i="4">4</div>
        <div class="card" data-i="3">3</div>
        <div class="card" data-i="2">2</div>
        <div class="card" data-i="1">1</div>
    </div>
    <p id="output"></p>
    <!-- <p><p>Lorem ipsum dolor sit amet. Vel facilis facilis est velit blanditiis et commodi voluptatem aut perspiciatis possimus
        non voluptate accusamus! Ea corporis modi hic internos iusto aut voluptatum itaque. Et illum repellendus in dolor
        dolor ea perferendis quod non impedit doloribus cum nemo deserunt aut minima quisquam quo odio minus! </p>
    <p>Id error consequuntur qui itaque nihil in tempore facere qui debitis iure. Aut laboriosam assumenda et recusandae
        cupiditate ea minima obcaecati qui magni ipsam. Est nulla voluptas qui corporis consectetur aut modi accusantium in
        aliquam ipsam rem architecto doloribus eos eaque recusandae quo rerum dolorem. Non totam nemo quo rerum asperiores
        sed cumque illo. </p>
    <p>Et quas veritatis qui quasi quod rem dolorem earum. Cum dolorem Quis in dolorem nemo et nemo consequatur id sint
        voluptatem vel dolorem repudiandae et eligendi iusto! Sit totam quidem et necessitatibus ipsa nam expedita voluptate
        id expedita nemo ab dicta iusto et ullam harum. </p>
    <p>Et eligendi laborum ut eveniet nostrum et suscipit galisum et alias perspiciatis sed ipsam error. Sed maxime placeat
        est accusantium eaque qui repudiandae voluptates est omnis labore est esse harum qui possimus voluptas ut voluptatem
        vitae. Aut veritatis consequatur ut tenetur voluptatibus sed ipsa deserunt. Qui adipisci similique qui officiis
        reiciendis ad unde dolores aut molestiae reprehenderit eos deserunt labore est soluta autem ut illum dolorem. </p>
    <p>Ut exercitationem nihil At maxime officia ut vero rerum qui possimus magni. Cum velit fugit sed omnis dolores et odit
        inventore qui repellat incidunt vel minus consequatur. </p>
    <p>Et enim neque et pariatur quaerat aut magni nobis et similique consequuntur. Sed obcaecati ducimus aut culpa nesciunt
        non perspiciatis voluptas sed temporibus placeat est alias libero. </p>
    <p>Ut mollitia consequatur a quam nulla aut illum internos sit velit nihil At omnis itaque ut tempora voluptas. Et
        distinctio eveniet et esse tenetur 33 numquam molestiae qui aliquid magni qui doloribus itaque. </p>
    <p>Ut ratione quas et molestias vitae sit soluta aperiam id modi repellat eum nesciunt sunt et mollitia consequatur! Et
        voluptates aliquid quo accusantium dolorem et dolores quam eum omnis tempore! </p>
    <p>Et nemo commodi id sunt corporis in odio odit ea quibusdam dolores cum nobis temporibus. Vel voluptas libero hic
        dolorem eveniet non recusandae nulla sit praesentium quod sit nostrum culpa et quasi quos. </p>
    <p>Ea repellendus voluptatibus est aperiam possimus ea rerum consequatur qui maiores autem ut minus corporis? Ea optio
        fuga et voluptate incidunt sed pariatur libero nam aspernatur dolores! </p> -->
</Layout>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #f0f0f0;
        margin: 0;
        flex-direction: column;
    }

    #cardContainer {
        position: relative;
        width: 300px;
        height: 400px;
    }

    .card {
        position: absolute;
        inset: 0;
        border-radius: 12px;
        display: grid;
        place-items: center;
        font-size: 3rem;
        font-weight: bold;
        user-select: none;
        transition:
            transform 0.3s ease,
            opacity 0.3s ease;
        will-change: transform, opacity;
    }

    .card[data-i="10"] {
        background: #b2df8a;
    }

    .card[data-i="9"] {
        background: #a6cee1;
    }

    .card[data-i="8"] {
        background: #1f78b4;
    }

    .card[data-i="7"] {
        background: #33a02b;
    }

    .card[data-i="6"] {
        background: #fc9a99;
    }

    .card[data-i="5"] {
        background: #e21a1c;
    }

    .card[data-i="4"] {
        background: #fdbe70;
    }

    .card[data-i="3"] {
        background: #ff7f00;
    }

    .card[data-i="2"] {
        background: #cab2d6;
    }

    .card[data-i="1"] {
        background: #6a3d9a;
    }

    .card:not(:last-child) {
        top: 5px;
    }
</style>
