body {
    background-color: rgb(45, 45, 45);
}

/* boring label */

#flap_group-boring {
    animation-duration: 3s;
    animation-name: slide-in-flap-boring;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#mask-boring {
    animation-duration: 3s;
    animation-name: slide-in-mask-boring;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-mask-boring {

    from {
        translate: -10px 10px;
    }

    to {
        translate: -30px 30px;
    }
}

@keyframes slide-in-flap-boring {

    from {
        translate: -20px 20px;
    }

    to {
        translate: -60px 60px;
    }
}

/* basic label */

#flap_group-basic {
    animation-duration: 3s;
    animation-name: slide-in-flap-basic;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#mask-basic {
    animation-duration: 3s;
    animation-name: slide-in-mask-basic;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-mask-basic {

    from {
        translate: -20px 20px;
    }

    to {
        translate: -40px 40px;
    }
}

@keyframes slide-in-flap-basic {

    from {
        translate: -40px 40px;
    }

    to {
        translate: -80px 80px;
    }
}

/* zen label */

#flap_group-zen {
    animation-duration: 3s;
    animation-name: slide-in-flap-zen;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#mask-zen {
    animation-duration: 3s;
    animation-name: slide-in-mask-zen;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-mask-zen {

    from {
        translate: 0px -20px;
    }

    to {
        translate: 0px -40px;
    }
}

@keyframes slide-in-flap-zen {

    from {
        translate: 0px -40px;
    }

    to {
        translate: 0px -80px;
    }
}