body {
    background-color: rgb(45, 45, 45);
}

/* boring label */

#flap_group-boring {
    animation-duration: 3s;
    animation-name: slide-in-flap-boring;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#mask-boring {
    animation-duration: 3s;
    animation-name: slide-in-mask-boring;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-mask-boring {

    from {
        translate: -10px 10px;
    }

    to {
        translate: -30px 30px;
    }
}

@keyframes slide-in-flap-boring {

    from {
        translate: -20px 20px;
    }

    to {
        translate: -60px 60px;
    }
}

/* different label */

#flap_group-different {
    animation-duration: 3s;
    animation-name: slide-in-flap-different;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#mask-different {
    animation-duration: 3s;
    animation-name: slide-in-mask-different;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-mask-different {

    from {
        translate: 0px -10px;
    }

    to {
        translate: 0px -30px;
    }
}

@keyframes slide-in-flap-different {

    from {
        translate: 0px -20px;
    }

    to {
        translate: 0px -60px;
    }
}

/* prehistoric label */

#flap_group-prehistoric {
    animation-duration: 3s;
    animation-name: slide-in-flap-prehistoric;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#mask-prehistoric {
    animation-duration: 3s;
    animation-name: slide-in-mask-prehistoric;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-mask-prehistoric {

    from {
        translate: 0px -10px;
    }

    to {
        translate: 0px -35px;
    }
}

@keyframes slide-in-flap-prehistoric {

    from {
        translate: 0px -20px;
    }

    to {
        translate: 0px -70px;
    }
}